*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    font-family: "Poppins", "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, li,
figure, figcaption,
blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Referencias de estilos genéricas (sustituir por los colores deseados) */
:root {
    --bg-color: #FFFFFF;
    --accent-bg-color: #D6E0E2;
    --text-color: #162A2C;
    --text-light-color: #FEFCF6;
    --primary-color: #5E6C5B;
    --primary-color-dark: #686867;
}

/* CSS Global para estilos */

ul {
    list-style-type: none;
}

body {
    background-color: var(--bg-color);
}

h1, h2, h3 {
    font-weight: 500;
    font-size: 40px;
}

.mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    padding: 0 8px 0 10px;
}

.desktop-nav {
    display: none;
}

.container {
    padding: 20px 0;
}

.introduction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    padding: 20px 0;
}

.projects-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projects-cards {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F8F8F8;
    text-align: center;
}

.projects-cards h4 {
    font-weight: 500;
    font-size: 18px;
}

.projects-img {
    width: 100%;
    padding: 4px;
}

.projects-img img {
    border-radius: 10px;
}